body{
    background-color: whitesmoke;
}
#title{
	color:white;
	background-color:#103D59;
}
#x{
	margin-left:40%;
}
#logoposition{
    margin-left: 42%;
}
select{
  text-decoration:none;
  background-color:#103D59;
  color:white;
	font-size:20px;
	font-weight:bold;
	border-radius:15px;
  margin-left: 13%;
}
#AccountButton{
  text-decoration:none;
  background-color:#103D59;
  color:white;
	font-size:20px;
	font-weight:bold;
	border-radius:15px;
  margin-left: 60%;
  padding-bottom:7px;
	padding-top:5px;
  cursor: pointer;
}
th{
	background-color:#103D59;
	color:white;
	font-size:20px;
	text-align:center;
}
tr:nth-child(even){
	background-color:#103D59;
	color:white;
	font-size:20px;
	text-align:center;
}
tr:nth-child(odd) {
	background-color:White;
	color:black;
	font-size:20px;
	text-align:center;
}
